.task-style {
  padding: 2%;
  outline-style: groove;
  outline-width: 2px;
  outline-color: black;
  overflow: hidden;
  box-sizing: border-box;
  margin: 5px;
}

/* Styles for specific task types */
.learning-background {
  background: #fff1ac;
}

.travel-background {
  background: #b5e7fd;
}

.health-background {
  background: #caf6a1;
}

.wordwrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
