<div class="my-3">
  <h3>Add a task!</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="Title" class="form-label">Title</label>
      <input
        name="title"
        type="text"
        [(ngModel)]="title"
        class="form-control"
        id="title"
        placeholder="Learn python"
      />
    </div>
    <div class="mb-3">
      <label for="Description" class="form-label">Description</label>
      <textarea
        name="title"
        class="form-control"
        id="description"
        [(ngModel)]="description"
        rows="1"
        placeholder="Spend 10 hours learning python"
      ></textarea>
    </div>

    <label for="Task type" class="form-label">Select task type</label>
    <select name="TaskType" class="form-select" [(ngModel)]="taskType">
      <option *ngFor="let taskType of taskTypes"
              [value]="taskType">
        {{[taskType]}}
      </option>
    </select>
    <br>

    <button type="submit" class="btn btn-sm btn-primary">Submit</button>
  </form>
</div>
